<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @article.name %>
</p>

<p>
  <b>Published:</b>
  <%= @article.published_on %>
</p>

<p>
  <b>Content:</b>
  <%= @article.content %>
</p>

<% if @article.comments.size > 0 %>
  <h2>Comments</h2>
  <% @article.comments.each do |comment| %>
    <h3><%= comment.name %></h3>
    <p><%= comment.content %></p>
  <% end %>
<% end %>

<h2>New Comment</h2>
<%= form_for [@article, @comment ||= Comment.new] do |f| %>
<% if @comment.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
    <% @comment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <p><%= f.label :name %> <%= f.text_field :name %></p>
  <p><%= f.text_area :content, :rows => 10 %></p>
  <p><%= f.submit %></p>
<% end %>




<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
